        
<tr>
  <th scope="row"><%= appointment.num %></th>
  <td><%= appointment.addition %></td>
  <td><%= appointment.date.strftime("%B %d, %Y %l:%M %p") %></td>
  <td><%= appointment.question %></td>
  <td><%= appointment.doctor.name %></td>
  <td><%= appointment.patient.name %></td>
</tr>